<div class="flex justify-between align-center register-container">
    <form class="ui raised segment form" [formGroup]="form">
        <h1 class="title">Login</h1>
        <div class="field">
            <label for="">Email</label>
            <input type="email" placeholder="Enter Email Address" formControlName="email">
        </div>
        <div class="field">
            <label for="">Password</label>
            <div class="password-container">
                <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    placeholder="Enter Password"
                    class="password"
                    name="password"
                    formControlName="password"
                    #password>
                <i
                    class="clickable eye icon"
                    [ngClass]="{slash: passwordVisible}"
                    (click)="togglePasswordVisibility(password)"
                ></i>
            </div>
        </div>
        <div class="flex align-center justify-between forgot-section">
            <p class="clickable">Forgot password?</p>
            <p class="clickable">Register</p>
        </div>
        <button class="ui yellow button btn">Login</button>
        <div class="flex justify-center align-center other-options">
            <p>Or continue with</p>
        </div>
        <div class="flex socials">
            <div class="ui clickable flex align-center justify-center segment google">
                <i class="google icon"></i>
                <span>Google</span>
            </div>
            <div class="ui clickable flex align-center justify-center segment facebook">
                <i class="facebook icon"></i>
                <span>Facebook</span>
            </div>
        </div>
    </form>

    <img class="join-img" src="assets/images/landing-page-background.svg" alt="">
</div>