<app-success-modal #successModal></app-success-modal>
<app-failure-modal #failureModal></app-failure-modal>
<div class="flex justify-between align-center forgot-container">
    <form class="ui raised segment form" [formGroup]="form">
        <h1 class="title">Reset Password</h1>
        <div
            class="field"
            [ngClass]="{error: form.get('email')!.touched && form.get('email')!.errors}"
        >
            <label for="">Email</label>
            <input
                type="email"
                placeholder="Enter Email Address"
                formControlName="email"
                (input)="onEmailInput()"
            >
            <small class="error-message" *ngIf="form.get('email')!.touched && form.get('email')!.errors">
                <ng-container *ngIf="form.get('email')!.errors!['required']; else invalidEmail">
                     Enter email
                </ng-container>
                <ng-template #invalidEmail>
                     Enter a valid email address
                </ng-template>
            </small>
            <small class="error-message" *ngIf="!userExists">
                User does not exist
            </small>
        </div>
        <p class="clickable to-login" routerLink="/login">Back to login</p>
        <button
            class="ui yellow button btn"
            [ngClass]="{loading: loading}"
            [disabled]="form.invalid || !userExists"
            (click)="sendPasswordResetEmail()"
        >
            Reset
        </button>
    </form>

    <img class="join-img" src="assets/images/landing-page-background.svg" alt="">
</div>