.forgot-container {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 50px;
    .ui.form {
        width: clamp(200px, 90%, 450px);
        padding: 20px 30px 50px 30px;
        .title {
            margin-bottom: 40px;
            color: var(--header-text-color);
        }
        label {
            font-size: 16px;
            color: var(--primary-text-color);
        }
        .password-container {
            position: relative;
            i.icon {
                position: absolute;
                font-size: 20px;
                color: var(--primary-text-color);
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
            .password {
                padding-right: 50px;
            }
        }
        .error-message {
            font-size: 14px;
            color: var(--danger);
        }
        .to-login {
            text-decoration: underline;
            text-align: right;
            color: var(--primary-text-color);
        }
        .btn {
            width: 100%;
            margin-top: 10px;
        }
    }

    .join-img {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .forgot-container {
        justify-content: center;
        .ui.form {
            border: none;
            padding: 0;
            box-shadow: none;
        }
    }
}

@media (max-width: 1000px) {
    .forgot-container {
        justify-content: center;
        .join-img {
            display: none;
        }
    }
}