<header class="flex justify-between header">
    <img class="clickable" routerLink="/" src="assets/images/logo.svg" alt="">
    <div class="flex align-center links">
        <!-- <p class="clickable link" *ngFor="let link of navlinks">
            {{link.title}}
        </p> -->
        <div class="flex buttons" *ngIf="!isLoggedIn">
            <button routerLink="/login" class="ui yellow basic button btn">Login</button>
            <button routerLink="/register" class="ui primary basic button btn">Sign up</button>
        </div>
        <nav class="flex navlinks" *ngIf="isLoggedIn">
            <a class="navlink" routerLink="/user">Home</a>
            <a class="navlink" routerLink="/user/topics">Topics</a>
            <a class="navlink" routerLink="/user/favorites">Favorites</a>
        </nav>
        <button
            *ngIf="isLoggedIn"
            class="ui red basic button btn"
            [ngClass]="{loading: loggingOut}"
            (click)="logout()">
            Logout
        </button>
    </div>
</header>
