<header class="flex justify-between header">
    <img class="clickable" routerLink="/" src="assets/images/logo.svg" alt="">
    <!-- <button *ngIf="!isLoggedIn" routerLink="/login" class="ui yellow basic button btn login-btn">Login</button> -->
    <div class="flex align-center links">
        <div class="flex buttons" *ngIf="!isLoggedIn">
            <button routerLink="/login" class="ui yellow basic button btn">Login</button>
            <button routerLink="/register" class="ui primary basic button btn">Sign up</button>
        </div>
        <nav class="flex navlinks" *ngIf="isLoggedIn">
            <a
                *ngFor="let navlink of navlinks"
                class="navlink"
                [routerLink]="navlink.routerLink"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: navlink.exact ? true : false}"
            >
                {{navlink.displayText}}
            </a>
        </nav>
        <button
            *ngIf="isLoggedIn"
            class="ui red basic button btn"
            [ngClass]="{loading: loggingOut}"
            (click)="logout()">
            Logout
        </button>
    </div>
</header>
