<div class="flex align-center landing-page-container">
    <div class="content">
        <h1 class="title">
            Land your dream job
        </h1>
        <h3 class="desc">
            If you're looking to prepare, or test your level of preparedness
            for your next technical interview, then you've come to the right place.
            Our goal is to help you ace your interviews and land your dream job.
        </h3>
        <div class="flex buttons">
            <button class="btn primary-btn" routerLink="/register">Get Started</button>
            <!-- <button class="ui primary button btn">Try Demo</button> -->
        </div>
    </div>
    <img class="img" src="assets/images/landing-page-background.svg" alt="">
</div>
