<!-- <button class="ui tiny basic  button "> -->
<i
    *ngIf="isLoggedIn"
    class="large yellow icon menu-btn"
    [ngClass]="{bars: !isVisible, close: isVisible}"
    (click)="toggle()"
></i>
<!-- </button> -->

<sui-sidebar-container class="ui bottom attached segment" ngClass="sidebar-container">
    <sui-sidebar class="vertical" #sidebar direction="right" transition="overlay" [(isVisible)]="isVisible" [ngClass]="['drawer']">
        <div class="drawer-content">
            <div class="items">
                <ng-container *ngIf="isLoggedIn">
                    <a
                        class="item"
                        *ngFor="let navlink of navlinks"
                        [routerLink]="navlink.routerLink"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact: navlink.exact ? true : false}"
                        (click)="sidebar.close()"
                    >
                        {{navlink.displayText}}
                    </a>
                </ng-container>
            </div>
            
            <button
                *ngIf="isLoggedIn"
                class="ui red basic button btn logout-btn"
                [ngClass]="{loading: loggingOut}"
                (click)="logout();sidebar.close()">
                Logout
            </button>
        </div>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true" [ngClass]="'sidebar-sibling'">
        <!-- <button class="ui button" (click)="sidebar.open()">Open Sidebar</button> -->
        <ng-content></ng-content>
    </sui-sidebar-sibling>
</sui-sidebar-container>