.email-verify-container {
    padding-top: 60px;
    padding-bottom: 60px;
    .resend-link {
        text-decoration: underline;
        color: var(--header-text-color);
        font-weight: 700;
    }
}