<div class="flex justify-between align-center login-container">
    <form class="ui raised segment form" [formGroup]="form" (ngSubmit)="login()">
        <h1 class="title">Login</h1>

        <!-- EMAIL -->
        <div
            class="field"
            [ngClass]="{error: userNotFound || (form.get('email')!.touched && form.get('email')!.errors)}"
        >
            <label for="">Email</label>
            <input
                type="email"
                placeholder="Enter Email Address"
                formControlName="email"
                (input)="onFormInput()"
            >
            <small class="error-message" *ngIf="form.get('email')?.touched && form.get('email')?.errors">
                <ng-container *ngIf="form.get('email')?.errors!['required']; else invalidEmail">
                     Enter email
                </ng-container>
                <ng-template #invalidEmail>
                     Enter a valid email address
                </ng-template>
            </small>
            <small class="error-message" *ngIf="form.get('email')?.valid && userNotFound">
                User does not exist
            </small>
        </div>

        <!-- PASSWORD -->
        <div
            class="field"
            [ngClass]="{error: passwordIncorrect || (form.get('password')!.touched && form.get('password')!.errors)}"
        >
            <label for="">Password</label>
            <div class="password-container">
                <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    placeholder="Enter Password"
                    class="password"
                    name="password"
                    formControlName="password"
                    (input)="onFormInput()"
                    #password>
                <i
                    class="clickable eye icon"
                    [ngClass]="{slash: passwordVisible}"
                    (click)="togglePasswordVisibility(password)"
                ></i>
            </div>
            <small class="error-message" *ngIf="form.get('password')!.touched && form.get('password')!.errors">
                <ng-container *ngIf="form.get('password')!.errors!['required']; else invalidPassword">
                     Enter password
                </ng-container>
                <ng-template #invalidPassword>
                     Password must contain at least 6 characters
                </ng-template>
            </small>
            <small class="error-message" *ngIf="form.get('password')?.valid && passwordIncorrect">
                Password incorrect
            </small>
        </div>
        <div class="flex align-center justify-between forgot-section">
            <p class="clickable"routerLink="/forgot-password">Forgot password?</p>
            <p class="clickable" routerLink="/register">Register</p>
        </div>
        <button
            type="submit"
            class="ui yellow button btn"
            [class.loading]="loggingIn || sendingVerificationEmail"
            [disabled]="this.form.invalid || passwordIncorrect || userNotFound"
        >
            Login
        </button>


        <div class="flex justify-center align-center other-options">
            <p>Or continue with</p>
        </div>
        <div class="flex socials">
            <div
                class="ui clickable flex align-center justify-center segment google"
                (click)="loginWithGoogle()"
            >
                <i class="google icon"></i>
                <span>Google</span>
            </div>
            <div
                class="ui clickable flex align-center justify-center segment facebook"
                (click)="loginWithFacebook()"
            >
                <i class="facebook icon"></i>
                <span>Facebook</span>
            </div>
        </div>
    </form>

    <img class="join-img" src="assets/images/landing-page-background.svg" alt="">
</div>